@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

* {
    font-family: 'Lato', Helvetica, sans-serif;
    /* color: #333447; */
    /* line-height: 1.5; */
  }
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
.center-align {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
  
.justify {
    text-align: justify;
}

.container {
    display: grid;
    min-height: 100%;
    grid-template-rows:15% 6fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "search search"
                         "list list";
}

.search{
    grid-area:search;
}

.list{
    grid-area:list;
}

.detailed{
    grid-area:detailed;
}

.card-view{
    display: grid;
    grid-template-rows:10% 2fr;
    grid-template-columns: 30% 2% 68%;
    grid-template-areas: "card-poster . card-info"
                         "card-overview card-overview card-overview";
}
.card-info{
    grid-area: card-info
}

.card-poster{
    grid-area: card-poster
}
.card-overview{
    grid-area: card-overview;
}
.cardcopy-img{
    width: 100%;
    text-align: center
}
.cardcopy-poster{
    width:80%;
    margin: auto;
}

@media only screen and (min-width:300px){

    .experiment-view{
        grid-area: experiment;
        display: flex;
        padding-top: 30px;
    }
    .cardcopy-view{
        /* width: 60%; */
        /* flex-wrap: wrap;
        flex-direction: column; */
    }


    .hero-poster{
        display: none;
    }

    .hero-content{
        bottom: 0;
        position: relative;
        width: 100%;
    }

    .container {
        grid-template-rows:1fr 6fr;
        grid-template-columns: 1fr;
        grid-template-areas: "search"
                            "experiment"
                            "detailed";
    }

    .search-input{
        width: 60%;
        /* background-color: red; */
    }


    .card-view{
        display: grid;
        grid-template-rows:1fr;
        grid-template-columns: 29% 1% 60%;
        grid-template-areas:"card-poster . card-info";
                            
    }
   
}

.experiment-view{
    grid-area: experiment;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}

@media only screen and (min-width:600px){

   
    .hero-poster{
        display: block;
    }
.hero-content{
    bottom: 0;
    position: absolute;
    /* left: 25px; */
    width: 100%;
}

.hero-content img{
    width: 150px;
    position: absolute;
    bottom: -50px;
    left: 30px
}
.hero-title{
    left: 200px;
    position: absolute;
    top: -150px;
    color: white;
}

    .detailed{
        display: none;
    }

    .search-input{
        width: 60%;
    }

    .experiment-view{
        grid-area: experiment;
        display: flex;
        grid-template-areas: "copycard-view copycard-view copycard-view copycard-view";
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 30px;
    }


    .card-view{
        display: grid;
        grid-template-rows:1fr;
        grid-template-columns: 29% 1% 60%;
        grid-template-areas:"card-poster . card-info"
                            "card-poster . card-overview";
                            
    }
    .card-overview{
        display: block;
    }
    
}

@media only screen and (min-width:900px){


.hero-content{
    bottom: 0;
    position: absolute;
    /* left: 25px; */
    width: 100%;
}

.hero-content img{
    width: 150px;
    position: absolute;
    bottom: -50px;
    left: 30px
}
.hero-title{
    left: 200px;
    position: absolute;
    top: -150px;
    color: white;
}


    .search-input{
        width: 40%;
    }
    .experiment-view{
        grid-area: experiment;
        display: flex;
        grid-template-areas: "copycard-view copycard-view copycard-view copycard-view";
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .container {
        display: grid;
        min-height: 100%;
        grid-template-rows:20% 6fr;
        grid-template-columns: 1fr;
        grid-template-areas: "search"
                             "experiment";
    }

    .card-overview{
        display: block;
    }

    .experiment-view{
        grid-area: experiment;
        display: flex;
        grid-template-areas: "copycard-view copycard-view copycard-view copycard-view";
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 30px;
    }

    .card-view{
        display: grid;
        grid-template-rows:10% 2fr;
        grid-template-columns: 1fr;
        grid-template-areas: "card-poster"
                             "card-info";
    }

    
    .detailed{
        /* grid-area:detailed; */
        display: block;
    }
}

.cardcopy-poster{
    position: relative;
    box-shadow:1px 1px 20px 10px black
}

.card-overlay{
    position: absolute;
    background-color:#373636;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    widows: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    text-align: center;
}

.cardcopy-poster:hover .card-overlay{
    opacity: 0.95
}

.close-modal{
    position: fixed;
    right: 0;
    color: white;
    width: 35px;
    z-index: 99; 
    top: -25px;
    right: -20px;
}