
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* Applying font across the page */
* {
    font-family: 'Lato', Helvetica, sans-serif;
  }

/* CSS Reset */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

/* Alignment Classes */
.text-left {
    text-align: left;
}
  
.text-right {
    text-align: right;
}
  
.center-align {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
  
.justify {
    text-align: justify;
}

.text-center {
    text-align: center
}

/* Main CSS */

/* Default Desktop View */
.container {
    display: grid;
    min-height: 100%;
    grid-template-rows:100px 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: "search"
                         "list";
    background: #121212

}

.search{
    grid-area:search;
    padding: 20px;
}

.list{
    grid-area:list;
}

.detailed{
    grid-area:detailed;
} 

/* Display Classes */

  
.display-block {
    display: block;
  }
  
.display-none {
    display: none;
}
  
/* Card Classes */

.card-poster{
    width:80%;
    margin: auto;
}

.card-poster{
    position: relative;
    box-shadow:1px 1px 20px 10px black
}

.card-overlay{
    position: absolute;
    background-color:#373636;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    widows: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    text-align: center;
}

.card-poster:hover .card-overlay{
    opacity: 0.95
}


.card-img{
    width: 100%;
    text-align: center;
}


 .card-overview{
      padding: 10px;
      text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
  }


/* Modal Classes */
.close-modal{
    position: fixed;
    right: 0;
    color: white;
    width: 50px;
    z-index: 99; 
    top: -5px;
    right: -5px;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background:#121212;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .overlay-button{
      background: none;
      color: white;
      padding: 10px;
      width: 50%
  }




/* List View */

.experiment-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
}


/* Detailed View */

.detailed-view {
    height: 90vh;
    color: #e4e4e4;
}


.detailed-hero{
    height: 50%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.7);
    position: relative;
}

.hero-title{
    left: 200px;
    position: absolute;
    top: -150px;
    color: white;
}


.hero-title h2,.hero-title span{
    color: white;
}


.hero-content img{
    width: 150px;
    position: absolute;
    bottom: -50px;
    left: 30px
}

/* Search Bar Classes */
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-input{
    width: 30%;
    padding: 8px;
    border-radius: 2px;
    /* box-shadow: 2px 2px 2px 2px gray; */
    background: #121212;
    color: white;
    font-size: 18px;
}

/* Padding and Margin Classes */
.pd-top-60{
    padding-top: 60px;
}

.pd-left-5{
    padding-left:5%;
}

.top-30{
    padding-top:30px;
}


.yellow{
      color:  yellow;
}

.red{
    color: red;
}
 
@media only screen and (min-width:300px){

    .experiment-view{
        display: flex;
        padding-top: 30px;
    }

    .overlay-button:hover,.overlay-button:active{
        background: grey;
    }

    .hero-poster,.hide-mobile {
        display: none;
    }

    .detailed-hero{
        height: 20%;
    }

    .hero-content{
        bottom: 0;
        position: relative;
        width: 100%;
    }

    .search-input{
        width: 60%;
    }

    .details-mobile{
        display: block;
    }
   
}


@media only screen and (min-width:600px){

    .details-mobile{
        display: none;
    }

    .hero-poster,.hide-mobile {
        display: block;
    }

    .hero-content{
        bottom: 0;
        position: absolute;
        width: 100%;
    }
    
    .detailed{
        display: none;
    }

    .search-input{
        width: 60%;
    }

    .card-overview{
        display: block;
    }

    .detailed-hero{
        height: 50%;
    }
    
}

@media only screen and (min-width:900px){

    .overlay-button:hover{
        background: grey;
    }
    .search-input{
        width: 40%;
    }

    .detailed,.hide-mobile {
        display: block;
    }

    .details-mobile{
        display: none;
    }

    .detailed-hero{
        height: 50%;
    }
}
