.text-center {
    text-align: center
}

.container {
    background: #121212
}

 .bg-search{
    background-color: #121212;
}

.bg-list{
    background-color: #121212;
}

.bg-detailed{
    background-color: #121212;
    background-size: 100%;
    background-repeat: no-repeat;
} 

/* .search-bar > input{
    width: 30%
} */

.card-view{
    color: #ffffff
}
.list-view, .detailed-view {
    height: 90vh;
    color: #e4e4e4;
}

.detailed-hero{
    height: 50%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.7);
    position: relative;
}
.search-bar{
    height: 10vh;
}

.card-img{
    width: 100%;
}

.list-view{
    overflow-y: scroll;
    cursor: pointer;
}

.card-view{
    border-bottom: 1px solid #e4e4e4
}

.hero-content{
    bottom: 0;
    position: absolute;
    left: 25px;
    width: 100%;
}

.hero-content img{
    width: 150px;
    position: absolute;
    bottom: -50px;
}
.hero-title{
    left: 160px;
    position: absolute;
    top: -150px;
    color: white;
}

.hero-title h2,.hero-title span{
    color: white;
}

.top-30{
    padding-top:30px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search-input{
    width: 30%;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px gray;
    background: #121212;
    color: white;
    font-size: 14px;
}

